<!-- WE USE THIS TEMPLATE FOR UPDATE PAGE AND CREATE PAGE -->
{% extends 'main.html' %}
{% block content %}
<h1>Project Form</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
</form>

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}} </label>
                    {{field}}
                </div>
                {% endfor %}

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
{% endblock %}
<!-- enctype="multipart/form-data" TO SUBMIT IMAGES IN FORM -->
<!-- DOCUMENTATION: https://docs.djangoproject.com/en/3.2/topics/forms/modelforms/ -->